--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.4.1+cpu

fastapi
uvicorn
pinecone
sentence-transformers
fastembed
spacy
python-dotenv
pydantic
requests
pyyaml
onnx
onnxruntime
numpy==1.26.4
tqdm